@model TF_Base.Models.OrdenCompra

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OrdenCompra</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idOrdenCompra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idOrdenCompra)
            @Html.ValidationMessageFor(model => model.idOrdenCompra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idUsuario, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idUsuario", String.Empty)
            @Html.ValidationMessageFor(model => model.idUsuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idSucursal, "Sucursal")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idSucursal", String.Empty)
            @Html.ValidationMessageFor(model => model.idSucursal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idCupon, "Cupon")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idCupon", String.Empty)
            @Html.ValidationMessageFor(model => model.idCupon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idOrdenCompraEnvio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idOrdenCompraEnvio)
            @Html.ValidationMessageFor(model => model.idOrdenCompraEnvio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idPago, "Pago")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idPago", String.Empty)
            @Html.ValidationMessageFor(model => model.idPago)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idEstadoOrden, "OrdenCompraEstado")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idEstadoOrden", String.Empty)
            @Html.ValidationMessageFor(model => model.idEstadoOrden)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
