@model TF_Base.Models.OrdenCompra

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OrdenCompra</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idOrdenCompra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idOrdenCompra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.userName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.userName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sucursal.telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sucursal.telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cupon.codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cupon.codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idOrdenCompraEnvio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idOrdenCompraEnvio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pago.idPago)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pago.idPago)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrdenCompraEstado.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrdenCompraEstado.descripcion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
