@model IEnumerable<TF_Base.Models.OrdenCompra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idOrdenCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cupon.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idOrdenCompraEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pago.idPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenCompraEstado.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idOrdenCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cupon.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idOrdenCompraEnvio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pago.idPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenCompraEstado.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
