@model TF_Base.Models.OrdenCompra

@{
    ViewBag.Title = "ShopCheckoutStep4";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";
}

<div id="all">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Pago y envío - Revisión de pedidos</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item active">Revisión de pedidos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row">
                <div id="checkout" class="col-lg-9">
                    <div class="box">
                        <form method="get" action="shop-checkout4.html">
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item"><a href="@Url.Action("ShopCheckoutStep1","OrdenCompra", new { id = Model.idOrdenCompra })" class="nav-link disabled"> <i class="fa fa-address-book"></i><br>Datos del pedido</a></li>
                                <li class="nav-item"><a href="#" class="nav-link active disabled"><i class="fa fa-eye"></i><br>Revisión del pedido</a></li>
                            </ul>
                        </form>
                        <div class="content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Producto</th>
                                            <th>Cantidad</th>
                                            <th>Precio unitario</th>
                                            <th>Descuento</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var detalle in Model.OrdenCompraDetalle)
                                        {
                                            <tr>
                                                <td><img src="@Url.Content(detalle.Producto.ImagenProducto.First().url)" alt="@detalle.Producto.descripcion"></td>
                                                <td>@detalle.Producto.descripcion</td>
                                                <td>@detalle.cantidad</td>
                                                <td>$@detalle.Producto.precioUnitario</td>
                                                <td>$0.00</td>
                                                <td>$@(detalle.Producto.precioUnitario * detalle.cantidad)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            <th>$@Model.OrdenCompraDetalle.Sum(detalle => detalle.cantidad * detalle.Producto.precioUnitario)</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer d-flex flex-wrap align-items-center justify-content-between">

                            <div class="left-col">
                                <a href="@Url.Action("ShopCheckoutStep1","OrdenCompra")" class="btn btn-secondary mt-0"><i class="fa fa-chevron-left"></i>Volver al método de pago</a>
                            </div>
                            <div class="right-col">
                                <button type="submit" class="btn btn-template-main">Hacer el pedido<i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="order-summary" class="box mb-4 p-0">
                        <div class="box-header mt-0">
                            <h3>Resúmen de la orden</h3>
                        </div>
                        <p class="text-muted text-small">El envío y los costos adicionales se calculan en función de los valores que ingresó.</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Orden subtotal</td>
                                        <th>$ @(Model.OrdenCompraDetalle.Sum(ocd => ocd.Producto.precioUnitario * ocd.cantidad))</th>
                                    </tr>
                                    <tr>
                                        <td>Envío y traslado</td>
                                        <th>$@Model.OrdenCompraEnvio.OrderByDescending(o => o.idOrdenCompraEnvio).FirstOrDefault().Envio.costoEnvio</th>
                                    </tr>
                                    <tr>
                                        <td>Impuestos</td>
                                        <th>$@((Model.OrdenCompraDetalle.Sum(ocd => ocd.Producto.precioUnitario * ocd.cantidad) * 0.21m))</th>
                                    </tr>
                                    @if (Model.Cupon != null)
                                    {
                                        <tr>
                                            <td>Descuento</td>
                                            <th>$@((Model.OrdenCompraDetalle.Sum(ocd => ocd.Producto.precioUnitario * ocd.cantidad) * Model.Cupon.porcentajeDescuento))</th>
                                        </tr>
                                    }
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>$@((Model.OrdenCompraDetalle.Sum(ocd => ocd.Producto.precioUnitario * ocd.cantidad) * 1.21m + Model.OrdenCompraEnvio.OrderByDescending(o => o.idOrdenCompraEnvio).FirstOrDefault().Envio.costoEnvio))</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box mt-0 mb-4 p-0">
                    <div class="box-header mt-0">
                        <h4>Código Promocional</h4>
                    </div>
                    <p class="text-muted">Si tenés un cupón de descuento, ingresalo en el siguiente cuadro.</p>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-template-main">
                                    <i class="fa fa-gift"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
