@model IEnumerable<TF_Base.Models.OrdenCompraDetalle>

@{
    ViewBag.Title = "ShopBasket";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";
}

<div id="all">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Carrito de compras</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item">
                            @Html.ActionLink("Inicio", "Home", "Shared")
                        </li>
                        <li class="breadcrumb-item active">Carrito de compras</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div class="col-lg-12">
                    <p class="text-muted lead">Actualmente tenés @Model.Sum(ocd => ocd.cantidad) elementos en tu carrito.</p>
                </div>
                <div id="basket" class="col-lg-9">
                    <div class="box mt-0 pb-0 no-horizontal-padding">
                        @if (Model.Count() == 0)
                        {

                            <h3 class="title">Tu carrito está vacío</h3>
                            <p class="subtitle">
                                ¿No sabés qué comprar? ¡Decenas de productos te esperan!
                            </p>

                            <div class="box-footer d-flex justify-content-between align-items-center">
                                <div class="center-col">
                                    <a href="@Url.Action("ShopCategory", "Producto")" class="btn btn-secondary mt-0">
                                        <i class="fa fa-chevron-left"></i> Elegir productos
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            using (Html.BeginForm())
                            {
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio Unitario</th>
                                                <th>Descuento</th>
                                                <th colspan="2">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var detalle in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <a href="#">
                                                            <img src="@Url.Content(detalle.Producto.ImagenProducto.First().url)" alt="@detalle.Producto.descripcion" class="img-fluid">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#">@detalle.Producto.descripcion</a>
                                                    </td>
                                                    <td>
                                                        @Html.TextBox("cantidad_"+ detalle.idDetalleOrden, detalle.cantidad.ToString(), new { @class = "form-control" })
                  
                                                    </td>
                                                    <td>$ @detalle.Producto.precioUnitario</td>
                                                    <td>$0.00</td>
                                                    <td>$ @(detalle.Producto.precioUnitario * detalle.cantidad)</td>
                                                    <td>
                                                        <a href="@Url.Action("DeleteDetalle", new { id = detalle.idDetalleOrden }) ">
                                                            <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">Total</th>
                                                <th colspan="2">$ @Model.Sum(ocd => ocd.cantidad * ocd.Producto.precioUnitario)</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <div class="box-footer d-flex justify-content-between align-items-center">
                                    <div class="left-col">
                                        <a href="@Url.Action("ShopCategory", "Producto")" class="btn btn-secondary mt-0">
                                            <i class="fa fa-chevron-left"></i> CONTINUAR COMPRANDO
                                        </a>
                                    </div>
                                    <div class="right-col">
                                        <button type="submit" class="btn btn-secondary">
                                            <i class="fa fa-refresh"></i> ACTUALIZAR CARRITO
                                        </button>

                                        <a href="@Url.Action("ShopCheckoutStep1", "OrdenCompra", new { id = Model.FirstOrDefault().idOrdenCompra })" class="btn btn-template-outlined">
                                            Pasar por la caja
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="box text-uppercase mt-0 mb-small">
                                <h3>Tambien pueden gustarte estos productos</h3>
                            </div>
                        </div>
                        @foreach (var producto in (IList<TF_Base.Models.Producto>)ViewBag.ProductosAlAzar)
                        {
                            <div class="col-lg-3 col-md-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="@Url.Action("ShopDetail","Producto", new { id = producto.idProducto } )"><img src="@Url.Content(producto.ImagenProducto.FirstOrDefault().url)" alt="" class="img-fluid image1"></a>
                                    </div>
                                    <div class="text">
                                        <h3 class="h5"><a href="shop-detail.html">@producto.descripcion</a></h3>
                                        <p class="price">$@producto.precioUnitario</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="order-summary" class="box mt-0 mb-4 p-0">
                        <div class="box-header mt-0">
                            <h3>Resumen de la orden</h3>
                        </div>
                        <p class="text-muted">El envío y los costos adicionales se calculan en función de los valores que ha ingresado.</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Subtotal</td>
                                        <th>$ @Model.Sum(ocd => ocd.cantidad * ocd.Producto.precioUnitario)</th>
                                    </tr>
                                    <tr>
                                        <td>Envío y traslado</td>
                                        <th>$ 0.00</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>$ @Model.Sum(ocd => ocd.cantidad * ocd.Producto.precioUnitario)</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>