@model IEnumerable<TF_Base.Models.Producto>

@{
    ViewBag.Title = "Catalogo";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";

    IList<TF_Base.Models.Categoria> categorias = ViewBag.Categorias;
    IList<TF_Base.Models.SubCategoria> subcategorias = ViewBag.SubCategorias;
    IList<TF_Base.Models.Color> colores = ViewBag.Colores;
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="">Todos los productos</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item">@Html.ActionLink("Inicio", "Home", "Shared")</li>
                    <li class="breadcrumb-item active">Todos los productos</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row bar">
            <!-- MENUS AND FILTERS-->
            <div class="col-md-3">
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Categorias</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills flex-column text-sm category-menu">
                            @foreach (var categoria in categorias)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link d-flex align-items-center justify-content-between"><span>@categoria.descripcion</span><span class="badge badge-secondary">@Model.Where(p => p.SubCategoria.idCategoria == categoria.idCategoria).Count()</span></a>
                                    <ul class="nav nav-pills flex-column">
                                        @foreach (var subcategoria in subcategorias.Where(c => c.idCategoria == categoria.idCategoria))
                                        {
                                            <li class="nav-item">@Html.ActionLink(subcategoria.descripcion, "ShopCategory", "Producto", new { idSubcategoria = subcategoria.idSubCategoria }, new { @class = "nav-link" })</li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading d-flex align-items-center justify-content-between">
                        <h3 class="h4 panel-titlen">Colores</h3><a href="#" class="btn btn-sm btn-danger"><i class="fa fa-times-circle"></i><span class="d-none d-md-inline-block">Clear</span></a>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                @foreach (var color in colores)
                                {
                                    <div class="checkbox">
                                        <label>@Html.CheckBox(color.idColor.ToString()) @color.descripcion</label>
                                    </div>
                                }
                            </div>
                            <button class="btn btn-sm btn-template-outlined"><i class="fa fa-pencil"></i> Aplicar</button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <p class="text-muted lead">NUEVA COLECCIÓN OTOÑO-INVIERNO 2018</p>
                <div class="row products products-big">
                    @foreach (var sarasa in Model)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="product">
                                <div class="image">
                                    <a href="@Url.Action("ShopDetail","Producto", new { id = sarasa.idProducto })">
                                        <img src="@Url.Content(sarasa.ImagenProducto.FirstOrDefault().url)" alt="Image" class="img-fluid image1">
                                    </a>
                                </div>
                                <div class="text">
                                    <h3 class="h5">
                                        <a href="@Url.Action("ShopDetail","Producto", new { id = sarasa.idProducto })">@sarasa.descripcion</a>
                                    </h3>
                                    <p class="price">$@sarasa.precioUnitario</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="div">
            <p class="loadMore text-center"><a href="#" class="btn btn-template-outlined"><i class="fa fa-chevron-down"></i> Cargar más</a></p>
        </div>
        <!-- PUBLICIDAD -->
        <div id="div">
            <div class="col-md-12 banner mb-small"><a href="#"><img src="~/Content/images/banner2.jpg" alt="" class="img-fluid"></a></div>
        </div>
    </div>
</div>
<div class="pages">
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-double-left"></i></a></li>
            <li class="page-item active"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </nav>
</div>
