@model TF_Base.Models.Producto

@{
    ViewBag.Title = "ShopDetail";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";

    //var categoriaPadre = Model.Categoria.Categoria1.Count == 0 ? "" : Model.Categoria.Categoria1.FirstOrDefault(c => c != null).descripcion;
    var categoriaPadre = Model.SubCategoria.Categoria.descripcion;
}


<div id="all">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-6">
                    <h1 class="h2">@Model.descripcion</h1>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="shop-category-left.html">@categoriaPadre</a></li>
                        <li class="breadcrumb-item"><a href="shop-category-left.html">@Model.SubCategoria.descripcion</a></li>
                        <li class="breadcrumb-item active">@Model.descripcion</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <!-- LEFT COLUMN _________________________________________________________-->
                <div class="col-lg-9">
                    <p class="lead">Predescripcion del producto.</p>
                    <p class="goToDescription"><a href="#details" class="scroll-to text-uppercase">Ver el detalle del producto, material & cuidado y dimensiones.</a></p>
                    <div id="productMain" class="row">
                        <div class="col-sm-6">
                            <div data-slider-id="1" class="owl-carousel shop-detail-carousel">
                                @foreach (var detalleFoto in Model.ImagenProducto)
                                {
                                    <div>
                                        <img src="@Url.Content(detalleFoto.url)" alt="" class="img-fluid">
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <div class="sizes">
                                    <h3>Talles disponibles</h3>
                                    @Html.DropDownList("idTalle", (IEnumerable<SelectListItem>)ViewBag.Talles, new { @class = "dropdown col-md-5 text-center" })
                                </div>
                                <p class="price">$@Model.precioUnitario</p>
                                <div class="text-center">
                                    <div class="btn btn-template-outlined">
                                        @Html.ActionLink("Agregar al carrito", "AgregarProductoCarrito", new { id = Model.idProducto })
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div data-toggle="tooltip" data-placement="top" title="Agregar a favoritos" class="btn btn-default">
                                        @Html.ActionLink("♥", "AgregarProductoWishlist", new { id = Model.idProducto })
                                    </div>
                                </div>
                            </div>
                            <div data-slider-id="1" class="owl-thumbs">
                                @foreach (var detalleFoto in Model.ImagenProducto)
                                {
                                    <button class="owl-thumb-item">
                                        <img src="@Url.Content(detalleFoto.url)" alt="@detalleFoto.Producto.descripcion" class="img-fluid">
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                    <div id="details" class="box mb-4 mt-4">
                        <p></p>
                        <h4>Detalles del producto</h4>
                        <p>Joggin clásico para todos los días, con bolsillos delanteros.</p>
                        <h4>Material & care</h4>
                        <ul>
                            <li>Algodón de super calidad</li>
                            <li>Anti-peeling</li>
                            <li>No pierden su color con los lavados</li>
                            <li>No se encoje</li>
                            <li>Durabilidad </li>
                        </ul>
                        <blockquote class="blockquote">
                            <p class="mb-0"><em>En verano trabajamos con nuestro algodón rústico para mantenerte fresco y cómodo, mientras que en invierno utilizamos frisa elastizada para que mantengas tu temperatura.</em></p>
                        </blockquote>
                    </div>
                    <br /><br />
                    <div id="product-social" class="box social text-center mb-5 mt-5">
                        <h4 class="heading-light">Compartilo con tus amigos</h4>
                        <ul class="social list-inline">
                            <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="box text-uppercase mt-0 mb-small">
                                <h3>Tambien pueden gustarte estos productos</h3>
                            </div>
                        </div>
                        @foreach (var producto in (IList<TF_Base.Models.Producto>)ViewBag.ProductosAlAzar)
                        {
                            <div class="col-lg-3 col-md-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="@Url.Action("ShopDetail","Producto", new { id = producto.idProducto } )"><img src="@Url.Content(producto.ImagenProducto.FirstOrDefault().url)" alt="" class="img-fluid image1"></a>
                                    </div>
                                    <div class="text">
                                        <h3 class="h5"><a href="shop-detail.html">@producto.descripcion</a></h3>
                                        <p class="price">$@producto.precioUnitario</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

