@model IEnumerable<TF_Base.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="col-lg-10">
    <p>
        @Html.ActionLink("Crear Nuevo", "Create", "Productos", null, new { @class = "btn btn-primary" })
    </p>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h6 class="text-uppercase mb-0">Productos</h6>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover card-text">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.descripcion)</th>
                        <th>@Html.DisplayNameFor(model => model.precioUnitario)</th>
                        <th>@Html.DisplayNameFor(model => model.esDestacado)</th>
                        <th>@Html.DisplayNameFor(model => model.Color.descripcion)</th>
                        <th>@Html.DisplayNameFor(model => model.Garantia.descripcion)</th>
                        <th>@Html.DisplayNameFor(model => model.SubCategoria.descripcion)</th>
                        <th>@Html.DisplayNameFor(model => model.Talle.descripcion)</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.precioUnitario)</td>
                            <td>@Html.DisplayFor(modelItem => item.esDestacado)</td>
                            <td>@Html.DisplayFor(modelItem => item.Color.descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Garantia.descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.SubCategoria.descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Talle.descripcion)</td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.idProducto }) |
                                @*@Html.ActionLink("Details", "Details", new { id = item.idProducto }) |*@
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.idProducto })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
