@model TF_Base.Models.OrdenCompra

@{
    ViewBag.Title = "CustomerOrder";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";
}

<div id="all">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Orden #@Model.idOrdenCompra</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item">
                            @Html.ActionLink("Inicio", "Home", "Shared")
                        </li>
                        <li class="breadcrumb-item">
                            @Html.ActionLink("Mis compras", "CustomerOrders", "Usuario")
                        </li>
                        <li class="breadcrumb-item active">Orden #@Model.idOrdenCompra</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div id="customer-order" class="col-lg-9">
                    <p class="lead">
                        <strong> Su orden se encuentra en estado @Model.OrdenCompraEstado.descripcion. </strong>
                    </p>
                    <p class="lead text-muted">
                        Si tienes alguna consulta, por favor @Html.ActionLink("contactenos", "Contact", "Shared"), nuestro servicio de atención al cliente funciona 24/7.
                    </p>
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="border-top-0">Producto</th>
                                        <th class="border-top-0">Cantidad</th>
                                        <th class="border-top-0">Precio unitario</th>
                                        <th class="border-top-0">Descuento</th>
                                        <th class="border-top-0">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var detalle in Model.OrdenCompraDetalle)
                                    {
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="@Url.Content(detalle.Producto.fotoUrl)" alt="Producto" class="img-fluid">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">@detalle.Producto.descripcion</a>
                                            </td>
                                            <td>@detalle.cantidad</td>
                                            <td>$ @detalle.Producto.precioUnitario</td>
                                            <td>$ @detalle.Producto.precioUnitario</td>
                                            <td>$ @(detalle.cantidad * detalle.Producto.precioUnitario)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row col-md-12">
                                <div class="col-md-10 text-right">Orden subtotal</div>
                                <div class="text-right">$ 446.00</div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-10 text-right">
                                    Shipping and handling
                                </div>
                                <div class="text-right">$ 446.00</div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-md-10 text-right">Total</div>
                                <div class="text-right">$@Model.OrdenCompraDetalle.Sum(o => o.cantidad * o.Producto.precioUnitario)</div>
                            </div>


                        </div>
                    </div>
                    <div class="row addresses">
                        <div class="col-md-12 text-center">
                            <h3 class="text-uppercase">Dirección de envío</h3>
                            <p>
                                @Model.Usuario.DatosPersonales.FirstOrDefault().nombre @Model.Usuario.DatosPersonales.FirstOrDefault().apellido
                                <br> @Model.Usuario.DatosPersonales.FirstOrDefault().Direccion.direccion1
                                <br>CP @Model.Usuario.DatosPersonales.FirstOrDefault().Direccion.codigoPostal
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 mt-lg-0">
                    <!-- CUSTOMER MENU -->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Seccion de cliente</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills flex-column text-sm">
                                <li class="nav-item"><a href="@Url.Action("CustomerOrders","Usuario")" class="nav-link"><i class="fa fa-list"></i> Mis pedidos</a></li>
                                <li class="nav-item"><a href="@Url.Action("CustomerWishlist","Usuario")" class="nav-link"><i class="fa fa-heart"></i> Mi lista de deseos</a></li>
                                <li class="nav-item"><a href="@Url.Action("CustomerAccount", "Usuario")" class="nav-link"><i class="fa fa-user"></i> Mi cuenta</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
