@model TF_Base.Models.DatosPersonales

@{
    ViewBag.Title = "CustomerAccount";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";

}

<style>
    /* Always set the map height explicitly to define the size of the div
                        * element that contains the map.  */
    #map {
        height: 100%;
    }
</style>

<div id="all">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Mi cuenta</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="@Url.Action("Home","Shared")">Inicio</a></li>
                        <li class="breadcrumb-item active">Mi cuenta</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div id="customer-account" class="col-lg-9 clearfix">
                    <p class="lead">Cambia tus datos personales aqui.</p>
                    <div class="bo3">
                        <div class="heading">
                            <h3 class="text-uppercase">Datos Personales</h3>
                        </div>

                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(m => m.datosPersonalesId)
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Nombre</label>
                                        @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Apellido</label>
                                        @Html.TextBoxFor(m => m.apellido, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Numero de documento</label>
                                        @Html.TextBoxFor(m => m.dni, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="street">Calle</label>
                                        @Html.TextBoxFor(m => m.Direccion.direccion1, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label for="zip">Codigo Postal</label>
                                        @Html.TextBoxFor(m => m.Direccion.codigoPostal, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label for="state">Localidad</label>
                                        @Html.DropDownListFor(m => m.Direccion.idLocalidad, (IEnumerable<SelectListItem>)ViewBag.Localidades, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label for="country">Provincia</label>
                                        @Html.Label(Model.Direccion.Localidad.Provincia.provincia1, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label for="country">Pais</label>
                                        @Html.Label(Model.Direccion.Localidad.Provincia.Pais.pais1, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-template-outlined"><i class="fa fa-save"></i> Guardar Cambios</button>
                                    <br />
                                </div>
                                <br />
                            </div>
                        }
                    </div>
                </div>

                <div class="col-lg-3 mt-4 mt-lg-0">
                    <!-- CUSTOMER MENU -->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Seccion de cliente</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills flex-column text-sm">
                                <li class="nav-item"><a href="@Url.Action("CustomerOrders","Usuario")" class="nav-link"><i class="fa fa-list"></i> Mis pedidos</a></li>
                                <li class="nav-item"><a href="@Url.Action("CustomerWishlist","Usuario")" class="nav-link"><i class="fa fa-heart"></i> Mi lista de deseos</a></li>
                                <li class="nav-item"><a href="@Url.Action("CustomerAccount", "Usuario")" class="nav-link active"><i class="fa fa-user"></i> Mi cuenta</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--<div class="col-lg-9 spa" style="height:300px;">
                        <div id="map" onload="initMap();"></div>
                </div>-->
            </div>
        </div>
    </div>
</div>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.6083, lng: -58.3712 },
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ&callback=initMap"></script>