@model TF_Base.Models.OrdenCompra

@{
    ViewBag.Title = "CustomerOrder";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";
}

<div id="all">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Order #@Model.idOrdenCompra</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item">
                            @Html.ActionLink("Inicio", "Home", "Shared")
                        </li>
                        <li class="breadcrumb-item">
                            @Html.ActionLink("Mis compras", "CustomerOrders", "Usuario")
                        </li>
                        <li class="breadcrumb-item active">Order #@Model.idOrdenCompra</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div id="customer-order" class="col-lg-9">
                    <p class="lead">
                        Orden #@Model.idOrdenCompra was placed on
                        <strong>  22/06/2013</strong> se encuentra actualmente
                        <strong>@Model.OrdenCompraEstado.descripcion</strong>.
                    </p>
                    <p class="lead text-muted">
                        Si tienes alguna consulta, por favor @Html.ActionLink("contactenos", "Contact", "Shared"), nuestro servicio de atención al cliente funciona 24/7.
                    </p>
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="border-top-0">Producto</th>
                                        <th class="border-top-0">Cantidad</th>
                                        <th class="border-top-0">Precio unitario</th>
                                        <th class="border-top-0">Descuento</th>
                                        <th class="border-top-0">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var detalle in Model.OrdenCompraDetalle)
                                    {
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="@Url.Content(detalle.Producto.fotoUrl)" alt="White Blouse Armani" class="img-fluid">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">@detalle.Producto.descripcion</a>
                                            </td>
                                            <td>@detalle.cantidad</td>
                                            <td>$ @detalle.Producto.precioUnitario</td>
                                            <td>$ 0.00</td>
                                            <td>$ @(detalle.cantidad * detalle.Producto.precioUnitario)</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5" class="text-right">Order subtotal</th>
                                        <th>$ 446.00</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-right">Shipping and handling</th>
                                        <th>$10.00</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-right">Tax</th>
                                        <th>$0.00</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-right">Total</th>
                                        <th>$456.00</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row addresses">
                            <div class="col-md-6 text-right">
                                <h3 class="text-uppercase">Invoice address</h3>
                                <p>
                                    John Brown
                                    <br> 13/25 New Avenue
                                    <br> New Heaven
                                    <br> 45Y 73J
                                    <br> England
                                    <br> Great Britain
                                </p>
                            </div>
                            <div class="col-md-6 text-right">
                                <h3 class="text-uppercase">Shipping address</h3>
                                <p>
                                    John Brown
                                    <br> 13/25 New Avenue
                                    <br> New Heaven
                                    <br> 45Y 73J
                                    <br> England
                                    <br> Great Britain
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 mt-lg-0">
                    <!-- CUSTOMER MENU -->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Customer section</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills flex-column text-sm">
                                <li class="nav-item">
                                    <a href="customer-orders.html" class="nav-link active">
                                        <i class="fa fa-list"></i> My orders
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="customer-wishlist.html" class="nav-link">
                                        <i class="fa fa-heart"></i> My wishlist
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="customer-account.html" class="nav-link">
                                        <i class="fa fa-user"></i> My account
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">
                                        <i class="fa fa-sign-out"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
