@model IEnumerable<TF_Base.Models.Usuario>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    }

    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h6 class="text-uppercase mb-0">Usuarios</h6>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover card-text">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.userName)</th>
                            <th>@Html.DisplayNameFor(model => model.email)</th>
                            @*<th>@Html.DisplayNameFor(model => model.cantidadPenalizacion)</th>*@
                            <th>@Html.DisplayNameFor(model => model.UsuarioEstado.descripcion)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.userName)</td>
                                <td>@Html.DisplayFor(modelItem => item.email)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.cantidadPenalizacion)</td>*@
                                <td>@Html.DisplayFor(modelItem => item.UsuarioEstado.descripcion)</td>
                                <td>
                                    @Html.ActionLink("Bloquear/Desbloquear", "Edit", new { id = item.idUsuario })
                                    @*@Html.ActionLink("Details", "Details", new { id = item.idUsuario }) |*@
                                    @*@Html.ActionLink("Eliminar", "Delete", new { id = item.idUsuario })*@
                                    @*@Html.ActionLink("Bloquear", "Create", "BlackList", new { idusuario = item.idUsuario }, null)*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
