@model TF_Base.Models.Registro

@{
    ViewBag.Title = "Registro";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box">
                    <h2 class="text-uppercase">Registro</h2>
                    <p class="lead">Not our registered customer yet?</p>
                    <p>
                        With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process
                        will not take you more than a minute!
                    </p>
                    <p class="text-muted">
                        If you have any questions, please feel free to
                        <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.
                    </p>
                    <hr>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="editor-label">
                                @Html.LabelFor(f => f.UserName)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(f => f.UserName)
                                @Html.ValidationMessageFor(f => f.UserName)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(f => f.UserFullName)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(f => f.UserFullName)
                                @Html.ValidationMessageFor(f => f.UserFullName)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(f => f.UserEmail)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(f => f.UserEmail)
                                @Html.ValidationMessageFor(f => f.UserEmail)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(f => f.Password)
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(f => f.Password)
                                @Html.ValidationMessageFor(f => f.Password)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(f => f.PasswordConfirmation)
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(f => f.PasswordConfirmation)
                                @Html.ValidationMessageFor(f => f.PasswordConfirmation)
                            </div>
                            <br />
                            <input type="submit" value="Registrarse" />
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>