@model TF_Base.Models.Registro

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box">
                    <u>
                        <p class="lead">¿Aún no es nuestro cliente registrado?</p>
                    </u>
                    <p>
                        Con el registro con nosotros, el nuevo mundo de la moda, fantásticos descuentos y mucho más se abren para ti. ¡Todo el proceso no te llevará más de un minuto!
                    </p>
                    <p class="text-muted">
                        Si tiene alguna pregunta, no dude en <a href="contact.html"> comunicarse con nosotros </a>, nuestro centro de atención al cliente está trabajando para usted las 24 horas del día, los 7 días de la semana.
                    </p>
                    <hr>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="editor-label">
                                @Html.LabelFor(f => f.UserName, new { @class = "control-label" })
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(f => f.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(f => f.UserName)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(f => f.UserEmail, new { @class = "control-label" })
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(f => f.UserEmail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(f => f.UserEmail)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(f => f.Password, new { @class = "control-label" })
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(f => f.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(f => f.Password)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(f => f.PasswordConfirmation, new { @class = "control-label" })
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(f => f.PasswordConfirmation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(f => f.PasswordConfirmation)
                            </div>
                            <br />
                            <input type="submit" value="Registrarse" class="btn btn-primary" />
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>