<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)


</head>
<body style="padding-top: 0px;">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar" role="navigation" class="navbar-expand-lg">
                <ul class="nav navbar-nav pull-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="inline-block">
                            <span class="inline-block">
                                Esta logueado como <strong> @User.Identity.Name</strong>
                            </span>
                        </li>
                        <li class="nav-item">
                            <span class="d-none d-md-inline-block">
                                @Html.ActionLink(" Salir", "Logout", "Account", null, new { @class = "btn default glyphicon glyphicon-off" })
                            </span>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <span class="d-none d-md-inline-block">
                                @Html.ActionLink(" Ingresar ", "Login", "Account", null, new { @class = "btn default glyphicon glyphicon-log-in -xs" })
                            </span>
                        </li>
                        <li class="nav-item">
                            <span class="d-none d-md-inline-block">
                                @Html.ActionLink(" Registrarse", "Register", "Account", null, new { @class = "btn default glyphicon glyphicon-user -xs" })
                            </span>
                        </li>
                    }
                </ul>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Navbar Start-->
    <div id="navbar navbar-default" role="navigation" class="collapse navbar-collapse">
        <div class="container">
            <div class="col-md-3">
                <img src=@Url.Content("~/Content/images/logo.png") alt="LACOSTA logo" class="img-responsive"><span class="sr-only">LACOSTA ( logo )</span>
            </div>
            <br /><br />
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Shared", null, new { @class = "nav-link active h4" })</li>
                <li class="nav-item">@Html.ActionLink("Productos", "ShopCategory", "Producto", null, new { @class = "nav-link h4" })</li>
                <li class="nav-item">@Html.ActionLink("Como comprar", "Index", "Shared", null, new { @class = "nav-link h4" })</li>
                <li class="nav-item">@Html.ActionLink("Nosotros", "Index", "Shared", null, new { @class = "nav-link h4" })</li>
                <li class="nav-item">
                    <a class="nav-link h4" href="/OrdenCompra/ShopBasket">
                        Carrito <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
        <hr />
    </div>
    <br />
    <!-- Navbar End-->
    <div class="row">
        @RenderBody()
    </div>
    <br />
    <footer>
        <div class="container">
            <hr />
            <div class="row">
                <div class="col-lg-4">
                    <h4 class="h4">Suscribite al Newsletter mensual</h4>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <button type="submit" class="btn btn-secondary">
                                <i class="glyphicon glyphicon-send"></i>
                            </button>
                        </div>
                    </form>
                    <hr class="d-block d-lg-none">
                </div>
                <div class="col-lg-4 ">
                    <div class="h4 text-center">Redes sociales</div>
                    <ul class="list footer-blog-list text-center">
                        <li class="d-flex align-items-center">
                            <div class="text">
                                <h5 class="mb-0"><i class="glyphicon glyphicon-book"></i> <a href="post.html">Facebook</a></h5>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="text">
                                <h5 class="mb-0"><i class="glyphicon glyphicon-picture"></i> <a href="post.html">Instagram</a></h5>
                            </div>
                        </li>
                    </ul>
                    <hr class="d-block d-lg-none">
                </div>
                <div class="col-lg-4">
                    <h4 class="h4">Acerca de </h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center-md">
                        <p>&copy; 2018. LACOSTA / Leandro Baldassarre - Ivan Chaves.</p>
                    </div>
                    <div class="col-lg-8 text-right text-center-md">
                        <p>Contactanos</p>
                        <p> <a href="mailto:LACOSTA@gmail.com">LACOSTA@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
